.container {
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "sidebar"
    "content"
    "footer";
  grid-template-rows: 50px 10rem auto auto 5rem;
  grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
  overflow: hidden;
  border: 5px solid rgb(111,41,97);
  width: auto;
  gap: 0;
  row-gap: 0;
}
@media (min-width: 600px) {

  .container {
    grid-template-areas: "header  header" 
                         "hero    hero"
                         "sidebar content"
                         "footer  footer";
    grid-template-rows: 50px 10rem auto 5rem;
    grid-template-columns: 20% auto;
    gap: 1rem;
  }
}

.header {
  grid-area: header;
  background-color: green;
}

.hero {
  grid-area: hero;
  background-color: grey;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightgrey;
}

.footer {
  grid-area: footer;
  background-color: green;
}