
@layer reset {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  ul[class] {
    list-style: none;
  }

  label {
    cursor: pointer;
    max-width: max-content;
    user-select: none;
  }
}

:root {
  --brand-hue: 244;
  --surface-shadow: var(--brand-hue) 10% 20%;
  --shadow-strength: .02;
}
.container {
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "sidebar"
    "content"
    "footer";
  grid-template-rows: 50px 10rem auto auto 5rem;
  grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
  overflow: hidden;
  border: 5px solid rgb(111,41,97);
  width: auto;
  gap: 0;
  row-gap: 0;

  .rad-shadow {
    border-radius: 10px;
    border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
    box-shadow: 0 1rem .5rem -.5rem;
    box-shadow:
      0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
      0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .01)),
      0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
      0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
      0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
      0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
  }

}
@media (min-width: 600px) {

  .container {
    grid-template-areas: "header  header" 
                         "hero    hero"
                         "sidebar content"
                         "footer  footer";
    grid-template-rows: 50px 10rem auto 5rem;
    grid-template-columns: 20% auto;
    gap: 1rem;
    background-color: lightgrey;
  }
}

.header {
  grid-area: header;
  background-color: green;
}

.hero {
  grid-area: hero;
  background-color: grey;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightgrey;
}

.footer {
  grid-area: footer;
  background-color: green;
}