.wrapper {
  font-family: 'PT Sans';
  display: flex;
  justify-content: center;
  border: 1px solid #ff4136;
  padding: 30px;
}

.grid {
  display: grid;
  border: 1px solid black;
  max-width: 800px;
  grid-template-columns: 4fr 8fr;
  grid-gap: 20px;
  padding: 30px;
  background-color: rgba(0, 0, 0, .05);
}

.ad {
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

.content,
.sidebar,
.ad {
  font-size: 14px;
  border: 1px dotted #0074d9;
  background-color: rgba(#0074d9, .1);
}

p {
  padding: 0;
  margin: 0;
}
